@import "../../styles/colour.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto 0;
  width: max-content;
  position: relative;
}

.addStageWrapper {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}

.stageName {
  background-color: transparent;
  border: 1px solid $white;
  outline: none;
  color: $white;
  font-size: 1rem;
  font-weight: 2rem;
  margin: 0.125rem 0.5rem 0;
  padding: 0.5rem 0.75rem;
  width: 50%;
}

.stageTime {
  background-color: transparent;
  border: 1px solid $white;
  outline: none;
  color: $white;
  font-size: 1rem;
  font-weight: 2rem;
  margin: 0.125rem 0 0;
  padding: 0.5rem 0.75rem;
  width: 1rem;
  &::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.addStageButton {
  border: none;
  background-color: $lightblue;
  font-size: 1rem;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: absolute;
  right: -1rem;
  margin-top: 0.25rem;

  &:after,
  &:before {
    content: "";
    display: block;
    background-color: $black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    height: 1em;
    width: 0.2em;
  }

  &:after {
    height: 0.2em;
    width: 1em;
  }
}
