.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem auto;
  width: max-content;
}

.timerLine {
  display: flex;
  align-items: baseline;
}

.count {
  font-size: 10rem;
}

.seconds {
  font-size: 4rem;
}

.timerButton {
  background-color: #8097a6;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.125rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}
